<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trending Twitter Tunes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <header>
      <img src="drawing.png" alt="Twitter Tunes Logo" />
      <h1>Trending Twitter Tunes</h1>
      <nav>
        <ul id="nav_ul">
          <li class="nav_li"><a href="/">Home</a></li>
          <li class="nav_li"><a href="/about">About</a></li>
          <li  class="nav_li"><a href="www.twitter.com">Twitter</a></li>
        </ul>
      </nav>
      <hgroup>
      </hgroup>
    </header>
    <section id="blurbabout">
      <h2>Blurbabout</h2>
      <p>
        blurbabout blurbabout blurbabout.
        blurbabout blurbabout blurbabout.
        blurbabout blurbabout blurbabout.
        blurbabout blurbabout blurbabout.
      </p>
    </section>
    <aside id="bot_feed">
      <div id="twitter_feed">
        Bot Twitter Feed
      </div>
    </aside>
    <section id="trends">
      <ul>
        <li>
          <article class="" id="trend_1">
            <h2>Trend #1</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_2">
            <h2>Trend #2</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_3">
            <h2>Trend #3</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_4">
            <h2>Trend #4</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_5">
            <h2>Trend #5</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_6">
            <h2>Trend #6</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_7">
            <h2>Trend #7</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_8">
            <h2>Trend #8</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_9">
            <h2>Trend #9</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
        <li>
          <article class="" id="trend_10">
            <h2>Trend #10</h2>
            <iframe src="" width="" height=""></iframe>
          </article>
        </li>
      </ul>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  </body>
  <footer>
    logo images:
    Twitter graphic by <a href="http://www.icomoon.io">Icomoon</a> and Note graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
  </footer>
</html>
