<!DOCTYPE html>
<html>
    <head>
    <!--Call to javascript file making AJAX calls-->
    </head>
    <body>
        <h1>Trending Twitter Tunes. Coming Soon!</h1>
        <p>Testing this trend: #TwitterTunesRules- {{ query }}</p>
        <!--Static content, title bar, links, etc-->
        <!--main container-->
        <!--for each trend create-->
            <!--trend name-->
                <!--embeded youtube pops when click on name-->
        <!--about us stuff-->
    </body>
</html>
